PROJECT_NAME=kuajing-crm-erp-v1

MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=kuajing_v1
MYSQL_USER=kuajing
MYSQL_PASSWORD=kuajing123
MYSQL_PORT=3306

REDIS_PORT=6379

PHP_API_PORT=8000
PYTHON_SYNC_API_PORT=8100

PHP_APP_ENV=local
PHP_APP_DEBUG=true
PHP_APP_KEY=

PYTHON_APP_ENV=dev
PYTHON_LOG_LEVEL=INFO

