.env
**/.env
**/vendor/
**/node_modules/
**/__pycache__/
**/.pytest_cache/
**/.mypy_cache/
**/.venv/
**/.phpunit.cache/
**/*.db
**/*.sqlite
**/*.sqlite3
**/*.log
**/logs/
**/bootstrap/cache/*.php
mysql-data/
redis-data/
